<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

    <main class="bg-gray-100 min-h-screen flex items-center justify-center"> 
        
        <form action="/edit-note/<%= title %>"  class="bg-white p-8 rounded-lg shadow-md w-96">
            <h2 class="text-2xl font-bold mb-6 text-center">Update Note</h2>
            <div class="mb-4">
                <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title</label>
                <input type="text"
                 id="title" 
                 name="title" 
                 value="<%= title %>"
                 class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" required>
            </div>
            <div class="mb-6">
                <label for="description" class="block text-gray-700 text-sm font-bold mb-2">Description</label>
                <input type="text"
                id="title" 
                name="title" 
                value="<%= description %>"
                class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-blue-500" required>
            </div>
                 <!-- <textarea id="description" 
                name="description" rows="4" 
                 -->
            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">Submit</button>
        </form>
    </main>
<!-- <main>

    <form action="">
        <h1>Update Note</h1>
        <input 
        type="text"
        placeholder="Enter title"
        class="p-2 rounded-md border border-2"
        name="title"
        >
        <input
         type="text"
         placeholder="Enter description"
         class="p-2 rounded-md border border-2"
         name="description">
    </form>
</main> -->

</body>
</html>